thesis*.pdf
thanks.tex
auto/
*~
*.fls
*.fdb_latexmk
*.bak
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.run.xml
*.loe
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
